.menu1{
	background-color: #F9B53C;
	z-index:0;
}

.menu{
	z-index:2;
	
}

.menu ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menu a {
		display: block;
		padding: 1em;
		background-color: #F9B53C;
		text-decoration: none;
		color: #191C26;
	}
	.menu a:hover {
		background-color: #CC673B;
	}
	.menu ul li ul {
		display: none;
	}
	.menu ul li a:hover + ul, .menu ul li ul:hover {
		display: block;
	}